:root {
    /*   Цветовая палитра  */
    --bakrnd-color-first: #E5E5E5;
    --bakrnd-color-second: #F5F4FA;
    --footer-color: #2F303A;
    --text-color-first: #757575;
    --text-color-tittle: #212121;
    --text-color-footer: rgba(255, 255, 255, 0.6);
    --text-banner-color: #FFFFFF;
    --accent-color: #2196F3;

    /*Шрифты */
    --first-font: "Roboto";
    --logo-font: "Raleway";
}

/*   Основные стили */
body {
    font-family: "Roboto","Raleway", sans-serif;
    color: var(--text-color-first);
    font-weight: 400;
    font-size: 14px;
    
    letter-spacing: 0.03em;
}

.container{
    width: 1230px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 5px solid tomato;
}

.main{
    line-height: 1.71;
}
.link {
    color: var(--text-color-tittle);
    text-decoration: none;
}

.list {
    list-style: none;
}


.link:hover,
.link:focus {
    color: var(--accent-color);
}

.footer,
.banner {
    background-color: var(--footer-color);
}

.header-nav .header-link.current {
    color: var(--text-color-tittle);
}

/*   Стили хедера  */
.header-list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
}
.header-list .header-item{
    margin-right: 40px;

    background-color: tomato;
}
.header-list .header-item:last-child{
    margin-right: 0px;
}

.header-link-contakts {
    color: var(--text-color-first);
}

.logo {
    color: var(--accent-color);
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: var(--text-color-tittle);
}

/*   Стили футера  */
.footer-address {
    color: var(--text-banner-color);
    font-style: normal;
    line-height: 1.71;
}

.footer-link {
    color: var(--text-color-footer);
}

.logo-studio-footer{
    color: var(--bakrnd-color-first);
}
/*   Стили main  */
.banner-title{
margin-top: 0;
margin-bottom: 0;
}

.banner-button {
    font-family: var(--first-font);
    color: var(--text-banner-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.title {
    color: var(--text-color-tittle);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
}

.team-title,
.works-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-worker-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
}

.team-worker-descr {
    font-size: 16px;
    line-height: 1.188;
}

.banner-title {
    color: var(--text-banner-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

/* Портфолио стили */
.example-title {
    color: var(--text-color-tittle);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.example-desc {
    color: var(--text-color-first);
    font-size: 16px;
    line-height: 1.86;
}

.portfolio-menu {
    font-family: var(--first-font);
    color: var(--text-color-tittle);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.portfolio-menu:hover,
.portfolio-menu:focus {
    color: var(--text-banner-color);
    background-color: var(--accent-color);
}